body, #root {
  margin: 0;
  padding: 0;
  font: 1em Georgia, sans-serif;
}

.App {
  height: 100vh;
  background-color: #6E9BC3;
}

hr.solid {
  border-top: 3px solid #bbb;
}

button {
  height: 2em;
  width: 12em;
  font-size: 1em;
  color: black;
}

.Home {

}

.Login {
  height: 30vh;
  width: 30vw;
  padding: 20vh 35vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.Login > p {
  width: 30vw;
}

p > input {
  margin-left: 2vw;
  width: 20vw;
}

.Account {
  background-color: #6E9BC3;
}

.Search {
  background-color: #6E9BC3;
}
